/**
 * Force the height of the content so mobile viewports
 * don't get cut off.
 */
html,
body,
#root {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

/**
 * Don't allow mobile pull to refresh.
 */
html,
body {
  overscroll-behavior-y: contain;
}
